/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}


/*  DO NOT REMOVE - Styling for the label showing the viewport width */
.viewport-dimensions {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ee4545;
  color: #fff;
  font-weight: 500;
  padding: 5px 8px;
  font-size: 14px;
}
  
/* STYLES */

/*  Fonts */
body {
  font-family: "Helvetica", sans-serif;
}

/* Basic styles */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  Font sizes */
p {
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5em;
}

/* Header and Navbar */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.newspaper-name {
  font-size: 24px;
  padding: 10px;
  border-bottom: 1px solid white;
}

.navbar {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar li {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ffffff;
}

.navbar li:last-child {
  border-right: none;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Articles */
.main-article {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
}

.main-article img {
  width: 100%;
  height: auto;
}

.main-article .image {
  width: 50%;
  padding: 0 20px;
  height: auto;
}

.main-article .content {
  width: 50%;
  padding: 0 20px;
  height: auto;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.article {
  width: 29%;
  padding: 20px;
  border: 1px solid #ccc;
}

.article img {
  width: 100%;
  height: auto;
}

.article h2 {
  font-size: 20px;
  margin-top: 10px;
}

.article p {
  margin-top: 10px;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;
}

.btn:hover {
  background-color: #555;
}

.btn-blue {
  background-color: #007bff;
}
  
/* Write your CSS below */
/* Media query for max width 760px */
 /* The Navbar elements ("Home", "News", "Tech" and "Other") should be displayed vertically, one below the other.
All articles ("Main Article", "Article 1", "Article 2", and "Article 3") should be displayed in a column, one below the other.
The "Main Article" image should be displayed at the top, followed by the title, text, and the "Read more" button below it. */

@media screen and (min-width: 481px) and (max-width: 760px){
 
.navbar {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar li {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  border-right: none;
}

.main-article {
    flex-direction: column;
    align-items: center;
  }

  .main-article .image,
  .main-article .content {
    width: 100%;
  }

.articles-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.article{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
}

/* Media query tablet
Iteration 2 | Small Screens (width > 760px and width < 1024px)
Next, we will add styles for tablet screens. :computer:

Add a new media query to the style.css file that targets screens with a min-width of 760px and a max-width of 1024px. In particular, you should add the styles to achieve the following:

The navbar links should be displayed horizontally, one next to the other, taking equal space and filling the entire width of the page.

The "Main Article" should be displayed on the top of the page, taking the entire width of the page.

The "Main Article" should be divided into two parts:

on the left side, the image should be displayed,
on the right side, the title, text, and the "Read more" button should be displayed.
The other articles ("Article 1", "Article 2", and "Article 3") should be displayed by two in a row, taking equal space. */

@media screen and (min-width: 761px) and (max-width: 1024px){
 
.navbar {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ffffff;
  border-bottom: none;
}

.main-article {
    flex-direction: row;
  }

  .main-article .image {
    width: 70%;

  }
  .main-article .content {
    width: 100%;
  }

.articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.article{
  width: 45%;
  padding: 10px;
  margin: 10px;
}
  
}

/* Media query very small screen
In this bonus iteration, your task is to hide the "Navbar" links on small mobile screens :iphone: and instead display the "menu" icon.

To do this, you will need to add a new element to the index.html to display the menu icon and add the necessary styles to the style.css file. You can find the menu icon in the images/ folder.

The final result should look like in the below image.

 */



@media screen and (max-width: 480px){

  .newspaper-name {
    border: none;
  }

  #nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

 nav img {
  display: block;

 }

.navbar li {
  display: none;
}

.main-article {
    flex-direction: column;
    align-items: center;
  }

  .main-article .image,
  .main-article .content {
    width: 100%;
  }

.articles-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.article{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
}




